@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="hs_page_title">
    <div class="container">
        <h3>Doctor Profile</h3>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="hs_single_profile">
                <img src="http://placehold.it/1040x440" alt="" />
                <div class="hs_single_profile_detail">
                    <h3>Dr. Neupane Commodo </h3>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6"> <i class="fa fa-user-md"></i>Experience: <a href="">6 Year</a> </div>
                        <div class="col-lg-5 col-md-6 col-sm-6"> <i class="fa fa-medkit"></i>Specialist On: <a href="">Addiction psychiatrist, Adolescent</a> </div>
                        <div class="col-lg-4 col-md-6 col-sm-6"> <i class="fa fa-medkit"></i>Email ID: <a href="">health@helathcare.com</a> </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6"> <i class="fa fa-phone"></i>Phone No: <a href="">+00 00 0 000 000 00</a> </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            Get connect with him:
                            <div class="hs_profile_social">
                                <ul>
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href=""><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Fusce pharetra ultrices elementum. Ut facilisis sit amet justo ut blandit. Phasellus in dolor vel metus hendrerit feugiat. Vivamus imperdiet,  velbus feugiat, est leo sagittis tortor, et commodo massa justo nec mi. Donec condimentum varius ipsum varius facilisis. Fusce in purus non massodales dicm. Curabitur in tellus non sem euismod pulvinar. Integer vitae nisi sit amet nulla placerat semper. Nam porttitor nulla id pretium ullamcorper. Itpat, magna id tempus posuere, risus ligula cursus erat, sit amet sagittis mi lacus non massa. Vestibulum libero ligula, sollicitudin sed ornare in, laoreet sed lacusCras tristique, metus eleifend malesuada eleifend, justo mi dapibus neque, sit amet fringilla elit risus quis nunc. Nullam molestie dolor pus, id ullorper massa adipiscing sit amet. Vivamus ut purus eu leo imperdiet suscipit. Integer lacus metus, ultricies eu quam vitae, vestibulum mattis ipsum. Pellentesque erat risus, congue non nisl auctor, accumsan pellentesque enim. </p>
                <p>In hac habitasse platea dictumst. Suspendisse potenti. Morbi dignissim rhoncus faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla nisi a bibendum euismod. Quisque eget elit sed erat bibendum tempus. </p>
            </div>
        </div>
    </div>

    <!--Post By start-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="hs_heading">Post By Neupane Commodo</h4>
            <div class="post_by">
                <div id="post_by_slider" class="owl-carousel owl-theme">
                    <div class="post_by_slider_item">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="http://placehold.it/303x174" alt="" />
                                <div class="post_by_detail">
                                    <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_by_slider_item">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="http://placehold.it/303x174" alt="" />
                                <div class="post_by_detail">
                                    <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_by_slider_item">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="http://placehold.it/303x174" alt="" />
                                <div class="post_by_detail">
                                    <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_by_slider_item">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="http://placehold.it/303x174" alt="" />
                                <div class="post_by_detail">
                                    <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_by_slider_item">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="http://placehold.it/303x174" alt="" />
                                <div class="post_by_detail">
                                    <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
            </div>
        </div>
    </div>
    <!--Post By end-->
    <!--Our Doctor Team start-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="hs_heading">Our Doctor Team</h4>
            <div class="our_doctor_team">
                <div id="our_doctor_team_slider" class="owl-carousel owl-theme">
                    <div class="our_doctor_team_slider_item">
                        <img src="http://placehold.it/300x362" alt="" />
                        <div class="hs_team_member_detail">
                            <h3>Dr Johnathan Treat</h3>
                            <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                            <a href="" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                    <div class="our_doctor_team_slider_item">
                        <img src="http://placehold.it/300x362" alt="" />
                        <div class="hs_team_member_detail">
                            <h3>Dr. Edwin Spindrift</h3>
                            <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                            <a href="" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                    <div class="our_doctor_team_slider_item">
                        <img src="http://placehold.it/300x362" alt="" />
                        <div class="hs_team_member_detail">
                            <h3>Dr Johnathan Treat</h3>
                            <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                            <a href="" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                    <div class="our_doctor_team_slider_item">
                        <img src="http://placehold.it/300x362" alt="" />
                        <div class="hs_team_member_detail">
                            <h3>Dr. Edwin Spindrift</h3>
                            <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                            <a href="" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
            </div>
        </div>
    </div>
    <!--Our Doctor Team end-->

    <div class="row">
        <!--what we do start-->
        <div class="col-lg-6 col-md-7 col-sm-12">
            <h4 class="hs_heading">What we do</h4>
            <div class="hs_tab">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#services1" data-toggle="tab">services # 1</a></li>
                    <li><a href="#services2" data-toggle="tab">services # 2</a></li>
                    <li><a href="#services3" data-toggle="tab">services # 3</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="services1">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6"> <img width="228" height="252" src="http://placehold.it/228x254" alt="" /> </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h4 class="hs_theme_color">Morbi id pulvinar enim. Vestibulum sed .</h4>
                                    <div class="hs_margin_30"></div>
                                    <p>Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. Praesent aliquet</p>
                                    <p>sollicitudin leo, eu oare nibh sodales et. Vestibulum blandit,eu oare nibh sodales et. </p>
                                    <div class="hs_margin_30"></div>
                                    <a href="blog-single-post-rightsidebar.html" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="services2">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h4 class="hs_theme_color">Morbi id pulvinar enim. Vestibulum sed .</h4>
                                    <div class="hs_margin_30"></div>
                                    <p>Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. Praesent aliquet</p>
                                    <p>sollicitudin leo, eu oare nibh sodales et. Vestibulum blandit,eu oare nibh sodales et. </p>
                                    <div class="hs_margin_30"></div>
                                    <a href="blog-single-post-rightsidebar.html" class="btn btn-default">Read More</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6"> <img width="228" height="252" src="http://placehold.it/228x254" alt="" /> </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="services3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <img width="515" height="252" src="http://placehold.it/512x252" alt="" />
                                <h4 class="hs_theme_color">Morbi id pulvinar enim. Vestibulum sed .</h4>
                                <p>Cras velit ligula, sodaleut enim quis, venenatis feugiat ante. lus facilisis nisl. Praesent aliquet</p>
                                <p>sollicitudin leo, eu oare nibh sodales et. Vestibulum blandit, </p>
                                <a href="blog-single-post-rightsidebar.html" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--what we do end-->
        <!--Book an Appointment start-->
        <div class="col-lg-6 col-md-5 col-sm-12">
            <h4 class="hs_heading" id="hs_appointment_form_link">Book an Appointment</h4>
            <div class="hs_appointment_form_div">
                <img src="http://placehold.it/512x345" width="512" height="387" alt="" />
                <div class="hs_appointment_form">
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" id="slider_select_dep" name="select_dep">
                                        <option>Select Department</option>
                                        <option value="Department 1">Department 1</option>
                                        <option value="Department 2">Department 2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="slider_fname" name="fname" placeholder="full Name  ( required )" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="slider_phone" name="phone" class="form-control" placeholder="Phone (required)" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="slider_email" name="email" class="form-control" placeholder="Email (required)" required>
                                </div>
                                <div class="form-group">
                                    <input type="date" id="slider_date" name="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3">
                                <button type="button" id="slider_book_apo" class="btn btn-default">Submit</button>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <p>Aenean facilisis sodales est nec gravida. Morbi vitae purus non est facilisis.</p>
                            </div>
                        </div>
                        <p id="appointment_err"></p>
                    </form>
                </div>
            </div>
        </div>
        <!--Book an Appointment end-->
    </div>
    <div class="hs_margin_40"></div>
</div>