<div class="container-fluid body-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="hs_service">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h4>Diabetes and Obesity Counseling</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 hs_icon_svg">
                            <svg version="1.1" id="Layer_13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="80px" height="80px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                            <path d="M48.691,57.705l4.135,20.465l-0.459,0.501c-0.483,0.529-1.168,0.83-1.886,0.83c0,0,0,0-0.003,0
	c-0.716-0.001-1.4-0.303-1.886-0.833L29.484,57.705h2.264c1.774,0,3.309-1.265,3.65-3.007l2.078-10.648l2.355,10.732
	c0.371,1.693,1.898,2.923,3.633,2.923H48.691z M20.31,46.961c0.685,1.127,1.484,2.229,2.401,3.305h5.974l4.927-25.25
	c0.337-1.722,1.854-2.987,3.608-3.007c1.813,0.014,3.304,1.218,3.677,2.927l5.56,25.33h5.279c1.761,0,3.294,1.253,3.646,2.98
	l1.444,7.153l0.871-6.56c0.246-1.841,1.832-3.229,3.688-3.229h16.652l0.155-0.17c0.027-0.032,0.057-0.063,0.084-0.097
	c0.878-1.063,1.643-2.132,2.305-3.212l1.737-3.448c0.929-2.343,1.387-4.75,1.387-7.257c0-10.401-7.835-19-17.912-20.222
	l-1.343-0.121c-0.372-0.021-0.744-0.032-1.119-0.032c-4.746,0-9.221,1.602-12.84,4.557c-3.618-2.955-8.095-4.557-12.841-4.557
	c-0.351,0-0.699,0.009-1.045,0.026l-1.346,0.119C25.149,17.384,17.275,26,17.275,36.426c0,2.447,0.447,4.821,1.336,7.109
	L20.31,46.961z M63.521,66.479l7.71-8.43h-6.591L63.521,66.479z M82.11,53.222H61.467c-0.532,0-0.983,0.394-1.054,0.922
	l-2.965,22.304l-4.589-22.719c-0.101-0.496-0.536-0.852-1.041-0.852h-7.416l-6.02-27.422c-0.106-0.491-0.527-0.831-1.05-0.834
	c-0.503,0.005-0.935,0.365-1.03,0.859l-5.347,27.398H17.358c-0.588,0-1.063,0.476-1.063,1.063c0,0.587,0.475,1.063,1.063,1.063
	h14.473c0.509,0,0.945-0.36,1.043-0.859l4.532-23.226l5.104,23.25c0.107,0.488,0.539,0.835,1.038,0.835h7.4l5.675,28.094
	c0.102,0.497,0.538,0.852,1.042,0.852c0.012,0,0.024,0,0.036,0c0.519-0.018,0.949-0.407,1.018-0.922l3.679-27.679H82.11
	c0.587,0,1.063-0.476,1.063-1.063S82.697,53.222,82.11,53.222z" />
                                </svg>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>Quisque vitae interdum ipsum. Nulla eget mper nulla. Proin lacinia urna quis tortor </p>
                            <a href="blog-single-post-rightsidebar.html" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="hs_service">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h4>Obstetrics and Gynaecology</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 hs_icon_svg">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="60px" height="80px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                            <path d="M448,160c17.656,0,32,14.344,32,32v256c0,17.656-14.344,32-32,32H64c-17.641,0-32-14.344-32-32V192
	c0-17.656,14.359-32,32-32H448 M448,128H64c-35.344,0-64,28.656-64,64v256c0,35.344,28.656,64,64,64h384c35.344,0,64-28.656,64-64
	V192C512,156.656,483.344,128,448,128L448,128z M160,96V64c0-17.625,14.359-32,32-32h128c17.656,0,32,14.375,32,32v32h32V64
	c0-35.344-28.656-64-64-64H192c-35.344,0-64,28.656-64,64v32H160z M352,288h-64v-64h-64v64h-64v64h64v64h64v-64h64V288z" />
                                </svg>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>Quisque vitae interdum ipsum. Nulla eget mper nulla. Proin lacinia urna quis tortor </p>
                            <a href="blog-single-post-rightsidebar.html" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="hs_service">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h4>Surgical and medical Oncology</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 hs_icon_svg">
                            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="60px" height="80px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <g>
                            <path d="M18.69,26.219c-1.494,1.838-3.781,3.012-6.361,3.012c-4.502,0-8.105-3.68-8.105-8.158c0-2.651,1.437-5.005,3.36-6.493
		v-2.791c-3.254,1.766-5.775,5.226-5.775,9.246c0,5.802,4.716,10.599,10.551,10.599c3.767,0,7.035-2.067,8.897-4.929
		c-0.137-0.312-0.292-0.614-0.442-0.919C20.109,25.951,19.402,26.094,18.69,26.219z" />
                            <ellipse cx="12.702" cy="3.745" rx="3.766" ry="3.745" />
                            <path d="M29.054,28.471l-3.933-9.099c-0.461-1.066-1.619-1.65-2.751-1.392l-7.922,1.825l-0.009-8.517
		c-0.002-1.33-1.08-2.43-2.409-2.43c0,0-0.002,0-0.003,0c-1.33,0-2.406,1.105-2.406,2.434l0.012,11.528
		c0,0.733,0.336,1.433,0.91,1.889c0.574,0.457,1.326,0.632,2.038,0.466l8.915-2.052l3.136,7.257c0.394,0.91,1.28,1.454,2.212,1.454
		c0.319,0,0.644-0.063,0.955-0.198C29.02,31.11,29.581,29.692,29.054,28.471z" />
                                    </g>
                                </svg>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>Quisque vitae interdum ipsum. Nulla eget mper nulla. Proin lacinia urna quis tortor </p>
                            <a href="blog-single-post-rightsidebar.html" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Our Doctor Team start-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="hs_heading" id="hs_meat_doc">Our Doctor Team</h4>
                <div class="our_doctor_team">
                    <div id="our_doctor_team_slider" class="owl-carousel owl-theme">
                        <div class="our_doctor_team_slider_item">
                            <img src="http://placehold.it/300x362" alt="" />
                            <div class="hs_team_member_detail">
                                <h3>Dr Johnathan Treat</h3>
                                <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                <a href="profile-single.html" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                        <div class="our_doctor_team_slider_item">
                            <img src="http://placehold.it/300x362" alt="" />
                            <div class="hs_team_member_detail">
                                <h3>Dr. Edwin Spindrift</h3>
                                <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                <a href="profile-single.html" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                        <div class="our_doctor_team_slider_item">
                            <img src="http://placehold.it/300x362" alt="" />
                            <div class="hs_team_member_detail">
                                <h3>Dr Johnathan Treat</h3>
                                <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                <a href="profile-single.html" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                        <div class="our_doctor_team_slider_item">
                            <img src="http://placehold.it/300x362" alt="" />
                            <div class="hs_team_member_detail">
                                <h3>Dr. Edwin Spindrift</h3>
                                <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                <a href="profile-single.html" class="btn btn-default">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
                </div>
            </div>
        </div>
        <!--Our Doctor Team end-->
    </div>
</div>
