
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Doctors">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="hs_heading" id="hs_meat_doc">Our Doctor Team</h4>
            <div class="our_doctor_team">
                <div id="our_doctor_team_slider" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 3040px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);">
                            <div class="owl-item" style="width: 380px;">
                                <div class="our_doctor_team_slider_item">
                                    <img src="/images/team/team_member1.png" alt="">
                                    <div class="hs_team_member_detail">
                                        <h3>Dr Johnathan Treat</h3>
                                        <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="profile-single.html" class="btn btn-default">Read More</a>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <a href="profile-single.html" class="btn btn-default">Book Appointment</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="our_doctor_team_slider_item">
                                    <img src="/images/team/team_member2.png" alt="">
                                    <div class="hs_team_member_detail">
                                        <h3>Dr. Edwin Spindrift</h3>
                                        <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="profile-single.html" class="btn btn-default">Read More</a>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <a href="profile-single.html" class="btn btn-default">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="our_doctor_team_slider_item">
                                    <img src="/images/team/team_member12.png" alt="">
                                    <div class="hs_team_member_detail">
                                        <h3>Dr Johnathan Treat</h3>
                                        <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="profile-single.html" class="btn btn-default">Read More</a>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <a href="profile-single.html" class="btn btn-default">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="our_doctor_team_slider_item">
                                    <img src="/images/team/team_member11.png" alt="">
                                    <div class="hs_team_member_detail">
                                        <h3>Dr. Edwin Spindrift</h3>
                                        <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="profile-single.html" class="btn btn-default">Read More</a>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <a href="profile-single.html" class="btn btn-default">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="our_doctor_team_slider_item">
                                    <img src="/images/team/team_member11.png" alt="">
                                    <div class="hs_team_member_detail">
                                        <h3>Dr. Edwin Spindrift</h3>
                                        <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="profile-single.html" class="btn btn-default">Read More</a>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <a href="profile-single.html" class="btn btn-default">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="our_doctor_team_slider_item">
                                    <img src="/images/team/team_member11.png" alt="">
                                    <div class="hs_team_member_detail">
                                        <h3>Dr. Edwin Spindrift</h3>
                                        <p>Quisque vitae interdum ipsum. Nulla eget mpernulla. Proin lacinia urna </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="profile-single.html" class="btn btn-default">Read More</a>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 col-md-offset-2">
                                                <a href="profile-single.html" class="btn btn-default">Book Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                </div>
                <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
            </div>
        </div>
    </div>
</div>
